{% extends "bookmodule/layouts/base.html" %}

{% block content %}
<h2>Book List</h2>
{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>Title:</strong> {{ book.title }}<br>
                <strong>Author:</strong> {{ book.author }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No books found matching your search criteria.</p>
{% endif %}
{% endblock content %}


<h1>Books List</h1>

{% for obj in books %}
    <p>ID: {{ obj.id }}, Title: {{ obj.title }}</p>
    <hr>
{% endfor %}
