<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>روابط HTML5</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <div class="All">
   <div class="p">
   <a href="#" class="link1" target="_blank"> Go to QU website(open a new tab)</a>
</div>
<div class="p">
   <a href="#" class="link2" target="_self"> Go to QU website(open in the same page/tab)</a>
</div>
<div class="p">
   <a href="#" class="link3" target="_self"> Go to QU website(open in the same page/tab)</a>
</div>
</div>
</body>
</html>
