{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example of Formatting Tags</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <h3 align="center">Tables 1: Tables<br>
        of Fruits and<br>
        Their Prices</h3>

        <table class="table1" align="center">
            <tr>
                <th>Fruit</th>
                <th>Price</th>
            </tr> 
            <tr>
                <td>Apple</td>
                <td>$0.25</td>
            </tr> 
            <tr>
                <td>Orange</td>
                <td>$0.50</td>
            </tr> 
            <tr>
                <td>Banana</td>
                <td>$1.00</td>
            </tr> 
            <tr>
                <td>Pineapple</td>
                <td>$2.00</td>
            </tr> 
            <tr>
                <th>Total</th>
                <th>$3.75</th>
            </tr> 
        </table>
        
        <h3 align="center">Tables 2: A more complex sample table</h3>    
        <table class="table2" align="center">
            <!-- الصف الأول: "Fruit" و "Price" في خلايا كبيرة بمربعين منفصلين -->
            <tr>
                <th colspan="1" rowspan="2" class="column-header">
                    <img src="{% static '662b7fd56a7d3.jpg' %}" alt="Fruit Image" width="100" height="100">
                </th>                 <!-- عمود "Fruit" يمتد إلى 5 خلايا -->
                 
                <th colspan="5" rowspan="1" class="column-header1"><b>Camelid comparison<br>
                Approximate as of 6/2011</b></th> <!-- عمود "Price" يمتد إلى 5 خلايا -->
            </tr>
            
            <!-- الصفوف المتبقية للعناصر والأسعار -->
            <tr>
                <td><b># of humps</b></td>
                <td><b>Indigenous region</b></td>
                <td><b>Spits</b></td>
                <td><b>Produces wool?</b></td>
            </tr> 
            
            
            <tr>
                <td><b>Dromedary</b></td>
                <td>1</td>
                <td>Arabian Peninsula</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr> 

            <tr>
                <td><b>Camels</b></td>
                <td>2</td>
                <td>Africa/Asia</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr> 

            <tr>
                <td><b>Llamas</b></td>
                <td>1</td>
                <td>Andes Mountains</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr> 

        </table>
        
</body>
</html>
